button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;    
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
   
  }   

  .svg {
    fill: rgb(23, 17, 46);
  }

  .svg:hover {
    fill: rgba(107, 1, 245, 0.87);    
    transition: 01s ;   
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .prev:disabled,
  .next:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  } 